@import "colors";

.vex {
  overflow: hidden;

  .vex-dialog-input {
    section {
      border: 1px solid map_get($colors, "mainFont");
      border-radius: 7px;
      margin-bottom: 15px;
      padding: 10px 15px;
      text-transform: capitalize;
      user-select: none;

      h3, h5 {
        margin: 0;
        text-transform: uppercase;
      }

      select {
        text-transform: capitalize;
      }

      .sound-volume {
        padding-top: 20px;
      }

      .sound-direction {
        padding-top: 20px;

        input[type=number] {
          display: inline-block !important;
          width: 32.4% !important;
        }
      }

      *:focus {
        outline: none;
      }
    }
  }
}