@import "fonts";
@import "colors";
@import "button";
@import "custom-scroll";
@import "list";


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: map_get($colors, "bg");
  overflow: hidden;
}

.editor-container{
  height: inherit;
  display: flex;
  flex-direction: row;
  user-select: none;

  input[type=file]{
    display: none;
  }

  .exit{
    position: absolute;
    text-decoration: none;
    color: map_get($colors, "mainFont");
    transition: text-shadow .4s, color .6s;
    top: 0;
    left: 0;
    padding: 0;

    &:hover{
      text-shadow: 0 0 6px rgba(0,0,0,.4);
      color: map_get($colors, "danger");
    }
  }

  .left-navbar{
    @include scrollbars(.5em, #222);
    flex: 3;
    min-width: 230px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: map_get($colors, 'navbar');
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);

    .main-actions{
      list-style: none;
      margin: 0;
      padding: 7px 0 0;
      display: flex;
      width: 100%;
      justify-content: flex-end;

      li{
        margin-right: 15px;

        a{
          text-decoration: none;
          color: map_get($colors, 'icon');
          display: inline-block;
          transition: text-shadow .4s, color .4s;

          &:hover{
            text-shadow: 0 0 6px rgba(0,0,0,.4);
          }
        }
      }
    }

    .add-sound, .add-level {
      border-right-width: 0;
      border-left-width: 0;
    }

    .title{
      cursor: default;
      color: map_get($colors, "mainFont");
      font-size: 1.5em;
      border: 3px solid map_get($colors, "mainFont");
      border-right-width: 0;
      border-left-width: 0;
      padding: 10px;
      text-transform: uppercase;
      font-weight: 700;
      background-color: map_get($colors, "button");
    }

    .sound-list{
      flex: 1;
      @include list();

      li{
        padding: 5px 15px;


        a{
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: default;

          .play:before{
            cursor: pointer;
            content: "play_circle_filled";
            font-family: "Material Icons";
            font-size: 28px;
            opacity: 0;
            transition: opacity .1s, text-shadow .4s;
            transition-delay: .0s;
          }
        }

        &:hover{
          .play:before, .timeline{
            opacity: 1;
            transition: opacity .6s, color .4s;
            transition-delay: .5s, .0s;
          }
        }

        &.played{
          .play:before{
            content: "pause_circle_filled";
            opacity: 1;
          }

          .timeline{
            opacity: 1;
          }
        }

        .timeline{
          cursor: pointer;
          display: block;
          width: 100%;
          height: 5px;
          opacity: 0;
          transition: opacity .1s, color .4s;
          transition-delay: .0s;
          background-color: map_get($colors, "button");
          border-radius: 3px;
          position: relative;
          float: left;

          .progress{
            display: block;
            background-color: #222222;
            height: 100%;
            width: 0;
          }
        }
      }

    }

    .settings-list{
      @include list();
    }

    .levels-list{
      flex: 1;
      @include list();

      li{
        padding: 5px 15px;
        cursor: pointer;

        a {
          cursor: inherit;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .remove:before {
            content: "delete";
            font-family: "Material Icons";
            font-size: 28px;
            opacity: 0;
            transition: opacity .1s, text-shadow .4s;
            transition-delay: .0s;
          }
        }

        &:hover{
          .remove:before{
            opacity: 1;
            transition: opacity .6s, color .4s;
            transition-delay: .5s, .0s;
          }
        }

        .remove:hover{
          color: map_get($colors, "danger");
        }

        &.active{
          cursor: default;
          background-color: darken(map_get($colors, "navbar"), 5);
        }
      }
    }
  }

  .map-container{
    flex: 5;
    margin: 5px 10px;
    background-color: map_get($colors, "bg");
    min-width: 545px;
    min-height: 545px;

    canvas{
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    }
  }
}


[data-hidden]{
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

[data-hidden="true"]{
  opacity: 0.3;
  pointer-events: none;
}